<% layout("/layouts/boilerplate") %>

<style>
    .context{
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 100%;
    position: relative;
   
}

.context img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.image-text {
    position: absolute;
    top: 3rem; 
    color: black 
}

.context .text{
    padding-right: 2rem;
    padding-top: 5rem;
}

.member .image-text{
    padding-top: 35rem;
}

.member .text2{
    padding-top: 40rem;
    color: black;
}

.partner img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.Parag {
    padding-left: 24rem;
    padding-top: 10rem;
}

.Parag p{
    padding-left: 2.9rem;
    text-shadow: 2px 2px 4px #565454;
}

.Anurag {
    padding-left: 24rem;
    padding-top: 10rem;
}

.Anurag p{
    padding-left: 2.8rem;
    text-shadow: 2px 2px 4px #565454;
}

.Dakshi {
    padding-left: 24rem;
    padding-top: 1rem;
}

.Dakshi p{
    padding-left: 2.8rem;
    text-shadow: 2px 2px 4px #565454;
}

.Shradha {
    padding-left: 24rem;
    padding-top: 1rem;
}

.Shradha p{
    padding-left: 2.8rem;
    text-shadow: 2px 2px 4px #565454;
}

</style>

<div class="context">
    <!-- <img src="https://pbs.twimg.com/profile_images/1472410468878733316/wRvBSeM0_400x400.jpg" alt="bmu"> -->
        <h2 class="image-text text-align-auto">About WanderLust</h2>
        <p class="image-text row-cols-lg-3 text">Welcome to Wanderlust: Your Gateway to Unique Travel Experiences<br><br>

            Embark on a journey with Wanderlust, our innovative Airbnb clone designed to redefine your travel experiences. As part of our web programming course outcome, we've meticulously crafted Wanderlust to provide users with a seamless and immersive platform for discovering, booking, and sharing unique accommodations around the world.<br><br>
            
            Wanderlust boasts a user-friendly interface, ensuring a smooth navigation experience for both seasoned travelers and first-time users. The clean design and intuitive layout make it easy to search for the perfect getaway.<br><br>
            
            Wanderlust is the result of a collaborative effort by the talented individuals enrolled in the web programming course. Our goal is to provide a platform that transcends traditional travel and accommodation experiences.<br><br>
            
            Start your adventure with Wanderlust today!</p>
</div>
<!-- <div class="member">
    <h2 class="image-text head">Meet the dynamic team behind Wanderlust</h2>
    <p class="image-text text2">These second-year students pursuing their Bachelor's in Computer Science and Engineering have combined their passion for technology and diverse skills to bring Wanderlust to life.</p>
    <div class="image-text partner">
        
        <div class="row">
            <div class="col-md-3">
        <div class="Parag" >
        <img src="https://media.licdn.com/dms/image/D4D03AQGaSoUYKkTZ7Q/profile-displayphoto-shrink_800_800/0/1683865220653?e=1706140800&v=beta&t=Qf0kBEVWoCbJfM6unGKymort0gmVP7vRmqtkGAz_JxE" alt="parag">
        <p><b>Parag</b></p>
        </div>
        </div>

         <div class="col-md-3">
            <div class="Anurag" >
            <img src=<%= "/anu.jpg"%> alt="Anurag" >
            <p><b>Anurag</b></p>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
            <div class="Dakshi" >
            <img src="https://media.licdn.com/dms/image/D4D03AQEFvCClUc7f9Q/profile-displayphoto-shrink_800_800/0/1694884297836?e=1706140800&v=beta&t=2PwKrTVnSNNAzdgWxN0UTZzIJQqGhPUhx0MIJVaYsxU" alt="dakshi">
            <p><b>Dakshi</b></p>
        </div>
        </div>

        <div class="col-md-3">
        <div class="Shradha" >
            <img src="/shradha.jpg" alt="Shradha">
            <p><b>Shradha</b></p>
        </div>
        </div> 
        </div>
</div>  -->
</div> 